*{
    padding: 0;
    margin: 0;
}
html, body {
    height: 100%;
    background-color: #424242;
    overflow-y: hidden;
}
header{
    height: 50px;
    max-height: 15%;
}
footer *{
    height: 15px;
    max-height: 5%
}
.content{
    height: calc(100% - 65px);
    width: 100%;
    min-height: 80%;
}
.no-select{
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    -o-user-select: none;
    user-select: none;
}
#panel{
    background-color: #616161;
    width: 15%;
    height: 100%;
    display: inline-block;
}
#code{
    height: 100%;
    min-width: calc(100% - 15%);
    display: inline-block;
}
.ace_editor, .ace_editor * {
}

.ace_editor *::-webkit-scrollbar {
    width: 0.7em;
    height: 0.7em;
}

.ace_editor *::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.ace_editor *::-webkit-scrollbar-thumb {
    background-color: #757575;
    outline: 1px solid slategrey;
}

#project-explorer-header{
    font-family: 'Open Sans', sans-serif;
}
#project-explorer-files *{
    padding-left: 8px;
    font-family: 'Open Sans', sans-serif;
    color: #212121;
    text-decoration: none;
}
#project-explorer-files > li:nth-child(odd){
    background-color: #757575;
}
#position{
    float: right;
    padding-right: 8px;
    color: #dcdcdc;
    font-size: 12px;
    line-height: 14px;
    font-family: 'Open Sans', sans-serif;
}
#project-explorer-files a{
    cursor: pointer;
}
#project-explorer-files li ul {
    display: none;
    list-style: none;
 }

#project-explorer-files .panel-dir{
    text-decoration: underline;
}


#ace_settingsmenu{

    background-color: #515151 !important;
}

#ace_settingsmenu *{
    color: #dcdcdc;
}
input[type=submit]{
    display: none;
}

#ace_settingsmenu input[type=text], #ace_settingsmenu select{
    background-color: #424242;
    width: 170px;
    float: right;
    box-sizing : border-box;
}

.custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: 'Open Sans', sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 2px;
    font-size: 12px;
}

.custom-menu li {
    padding: 8px 12px;
    cursor: pointer;
}

.custom-menu li:hover {
    background-color: #DEF;
}

#ace_settingsmenu, #kbshortcutmenu{
    background-color: #616161;
}

#ace_settingsmenu *, #kbshortcutmenu * {
    /*background-color: #616161;*/
    font-family: 'Open Sans', sans-serif;
}

#ace_settingsmenu input, #ace_settingsmenu select{
    /*background-color: #818181;*/
    border-width: 1px;
    text-align: right;
}

#project-explorer-header{
    background-color: #313131;
}

#project-explorer-header > a{
    cursor: pointer;
    color: #dcdcdc;
    padding-left: 4px;
}

#dialogTarget{
    display: none;
}

.right-top-menu{
    float: right;
    height: 100%;
    padding-right: 10px;
}

header li {
    list-style: none;
    display: inline-block;
}

.left-menu{
    margin-left: 3px;
    display: inline-block;
}

.lower-left-top-menu button{
    margin-top: 10px;
    margin-left: 5px;
    transition: background 400ms ease;
    background: #424242;
    border: none;
    outline: none;
    color: #dcdcdc;
    border-radius: 1px;
}
.left-top-menu{
    margin-left:6px;
}

.left-top-menu button.open {
    background: #323232;
    border: solid #323232;
}

.left-top-menu button:hover {
    background: #373737;
    border: solid #373737;
}

.left-top-menu button{
    margin:0;
    margin-top:2px;
    background-color: #424242;
    color: #dcdcdc;
    border: solid #424242;
    outline: none;
    border-radius: 1px;
    padding-left: 6px;
    padding-right:7px;
}

.right-top-menu{
    display: inline-block;
}

.white-effect:hover{
    transition: background 200ms ease;
    background: #525252;
}
.white-effect:active{
     transition: background 100ms ease;
     background: #9E9E9E;
 }

.right-top-menu button{
    border-radius: 1px;
    transition: background 400ms ease;
    float: right;
    font-size: 30px;
    line-height:30px;
    margin-top: 15px;
    margin-right: 10px;
    background: #424242;
    border: none;
    outline: none;
    color: #dcdcdc;
}

.tree, .tree ul{
    list-style-type: none;
    padding: 0;
    position: relative;
    overflow:hidden;
}

.tree li{
    margin: 0;
    padding: 0 10px;
    position: relative;
}

.tree li::before, .tree li::after{
    content: '';
    position: absolute;
    left: 0;
}

.tree ul li::before{
    border-top: 1px solid #212121;
    top: 10px;
    width: 10px;
    height: 0;
}
.tree ul li:after{
    border-left: 1px solid #212121;
    height: 100%;
    width: 0;
    top: -11px;
}
.tree > li::after{
    top: 10px;
}
.tree > li:last-child::after{
    display: none;
}