<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="BCrypt.Net" version="0.1.0" targetFramework="net452" />
  <package id="BouncyCastle" version="1.8.1" targetFramework="net452" />
  <package id="HttpMultipartParser" version="2.2.3" targetFramework="net452" />
  <package id="LiteDB" version="3.0.0" targetFramework="net452" />
  <package id="RHttpServer" version="1.0.4.4" targetFramework="net452" />
  <package id="ServiceStack.Text" version="4.5.6" targetFramework="net452" />
</packages>